.root {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 20px;
}

.folder__icon {
  font-size: 16px;
  font-weight: 100;
}
  
.root__name {
  border: 1px solid #e8a8a8;
  background-color: #f7d6d6;
  border-radius: 10px;
  padding: 7px;
  width: 250px;
  align-items: center;

  font-size: 14px;
}