.button__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px; 
    height: 20px;
    border-radius: 50%; 
    background-color: rgba(145, 140, 140, 0.7);
    padding: 0;
    border: none; 
    cursor: pointer; 
    opacity: 1;

    font-size: 18px;
    color: #ebf8e9;

    transition: 0.3s;
}

.button__close:hover {
    background-color: rgba(0, 0, 0, 0.2);
}